@model LocaFilme.App.ViewModels.LocacaoViewModel

<div class="form-group">
    <label asp-for="Cliente.Nome" class="control-label"></label>
    <input asp-for="Cliente.Nome" class="form-control" />
    <span asp-validation-for="Cliente.Nome" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Cliente.Documento" class="control-label"></label>
    <input asp-for="Cliente.Documento" class="form-control" />
    <span asp-validation-for="Cliente.Documento" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Cliente.Ativo" class="control-label"></label>
    <input asp-for="Cliente.Ativo" class="form-control" />
    <span asp-validation-for="Cliente.Ativo" class="text-danger"></span>
</div>
@*<div class="form-group">
    <label asp-for="Endereco.Complemento" class="control-label"></label>
    <input asp-for="Endereco.Complemento" class="form-control" />
    <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Endereco.Bairro" class="control-label"></label>
    <input asp-for="Endereco.Bairro" class="form-control" />
    <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Endereco.Cidade" class="control-label"></label>
    <input asp-for="Endereco.Cidade" class="form-control" />
    <span asp-validation-for="Endereco.Cidade" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Endereco.Estado" class="control-label"></label>
    <input asp-for="Endereco.Estado" class="form-control" />
    <span asp-validation-for="Endereco.Estado" class="text-danger"></span>
</div>*@
